@import url(../css/sanitize.css);

.content {
    background-color: #fff;
    width: 500px;
    margin: 10px auto;
    border: 2px solid #d1d1d1;
    padding: 10px;
}

.content h1 {
    font-size: 24px;
    margin: auto;
}

.content p {
    font-size: 14px;
}

input {
    border-bottom: 2px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

button {
    padding: 5px;
    margin-top: 10px;
    width: 50%;
    background-color: #2096F3;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

.control_button {
    text-align: center;
}

label {
    display: block;
    margin-bottom: .5em;

}

.required {
    margin-left: .1em;
    color: #f33;
    font-size: .7em;
    padding: 3px;
    background-color: #fee;
    font-weight: bold;
}

body {
    background-color: #fafafa;
}