.container {
    display: flex;
    height: 100vh;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */


    flex-wrap: wrap;
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */

    flex-flow: row-reverse wrap;

}


.item {

    background-color: #ffa61c;
    margin: 10px;
    padding: 20px;

}